---
layout: archive
title: "AI for Everyone!"
excerpt: "AI for Everyone! is an initiave to introduce more students to the amazing world of Artificial Intelligence through a series of talks and hands-on activities."
permalink: /ai-for-everyone/
author_profile: true
---

<meta property="og:image" content="/images/ai_for_everyone_web_theme.jpg">

<strong>AI for Everyone!</strong> is an initiave to introduce more students to the amazing world of Artificial Intelligence through a series of talks and hands-on activities.
</br>
</br>
<h1>Current Talks/Workshops</h1>
<hr>
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
</br>
</br>
<h1>Recent Events</h1>
<hr>
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
