---
layout: archive
title: "AI for Everyone!"
permalink: /ai-for-everyone/
author_profile: true
---

<strong>AI for Everyone!</strong> is an initiave to introduce more students to the amazing world of Artificial Intelligence through a series of talks and hands-on activities.
</br>
</br>
<h1>Talks Available</h1>
<hr>
{% for post in site.ai-for-everyone %}
  {% include archive-single.html %}
{% endfor %}
</br>
</br>
<h1>Recent Events</h1>
<hr>
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
