---
layout: archive
title: "AI for Everyone!"
excerpt: "AI for Everyone! is an initiave to introduce more students to the amazing world of Artificial Intelligence through a series of talks and hands-on activities."
permalink: /ai-for-everyone/
author_profile: true
---

<meta property="og:image" content="/images/ai_for_everyone_web_theme.jpg">

<strong>AI for Everyone!</strong> is an initiave to introduce more students to the amazing world of Artificial Intelligence through a series of talks and hands-on activities.    
</br>
I've had the pleasure to present my talks and workshops to not only undergraduate/graduate students but also staff/faculty from several colleges and universities in Orange County. Below you will find more information about my current talks and workshop topics as well as a list of my past speaking events. Feel free to reach me via email or LinkedIn with inquieres about booking me for your next event. 
</br>
</br>
<h1>Current Talks/Workshops</h1>
<hr>
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
</br>
</br>
<h1>Past Speaking Events</h1>
<hr>
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
